<!DOCTYPE html>
<html>
<head>
<title>Samanco</title>
<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
<link rel='stylesheet' href='/font-awesome/css/font-awesome.css' />
<link rel='stylesheet' href='/css/style.css' />
<script type="text/javascript" data-main="/js/main" src="/js/lib/require.js"></script>
</head>
<body>

<div id="nav"></div>
<div id="timeline"></div>
<div id="source"></div>

</body>
</html>
